.ui.segment.to-do-container {
  display: flex;
  justify-content: space-between;

  align-items: flex-end;
  background-color: hsl(235, 24%, 19%);
  gap: 20px;
}

.ui.segment.to-do-container :first-child {
  width: fit-content;
}

.delete-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.checkbox-container {
  margin-top: 5px;
  font-size: 2.7em;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  grid-template-rows: -2em;
  gap: 0.5em;
}

.todo-and-checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-container > input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: inherit;
  background-position: 0px 2px;
  margin: 0;
  font: inherit;
  width: 1em;
  height: 0.9em;
  border: 0.05em solid #a2c11c;
  border-radius: 0.5em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.checkbox-container > input[type="checkbox"]::before {
  content: url(../../../img/check-solid.svg);
  width: 0.82em;
  height: 0.85em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 30px 30px;
  color: #a2c11c;
  border-radius: 0.4em;
}

.checkbox-container > input[type="checkbox"]:checked::before {
  transform: scale(1);
  color: #a2c11c;
  text-decoration: line-through;
}

.circular.ui.icon.button {
  color: hsl(234, 39%, 75%);
  background-color: #791e1e;
}
