body {
  background-color: hsl(235, 21%, 11%);
  color: hsl(234, 39%, 75%);
  font-family: "Josefin Sans", sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.container {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
}

.ui.segment {
  background-color: hsl(235, 24%, 19%);
  border-radius: 5px;
}
